

@media (max-width: $breakpoint-xs-max) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .card-width {
    width: 100% !important;
  }

  textarea.q-field__native  {
    min-height: 250px !important;
    line-height: 28px !important;
    padding: 16px 16px 32px 16px !important;
  }
}

@media (min-width: $breakpoint-xs-max) and (max-width: $breakpoint-sm-max) {
  .container {
    width: 560px;
  }

  .card-width {
    width: 45.8% !important;
  }
}

@media (min-width: $breakpoint-md-min) and (max-width: $breakpoint-lg-max) {
  .container {
    width: 1100px;
  }
}
