//Fonts
@import "../assets/fonts/index";

//Quasar Variables
@import "./quasar.variables.scss";

//Quasar Hacked CSS
@import "../assets/css/quasar/q-card";
@import "../assets/css/quasar/q-header";
@import "../assets/css/quasar/q-drawer";
@import "../assets/css/quasar/textarea";
@import "../assets/css/quasar/q-focus-helper";

//Custom CSS
@import "../assets/css/custom/typography/index";
@import "../assets/css/custom/border";
@import "../assets/css/custom/scrollbar";
@import "../assets/css/custom/tools-drawer";
@import "../assets/css/custom/container";
@import "../assets/css/custom/layout";


@media (max-width: $breakpoint-xs-max) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .card-width {
    width: 100% !important;
  }

  .long textarea.q-field__native  {
    min-height: 250px !important;
    line-height: 28px !important;
    padding: 16px 16px 32px 16px !important;
  }
}

@media (min-width: $breakpoint-xs-max) and (max-width: $breakpoint-sm-max) {
  .container {
    width: 560px;
  }

  .card-width {
    width: 45.8% !important;
  }
}

@media (min-width: $breakpoint-md-min)  {
  .container {
    width: 100% !important;
    max-width: 1170px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

