.long textarea.q-field__native  {
  min-height: 250px !important;
  line-height: 28px !important;
  padding: 28px 24px 40px 24px !important;
}

.result-area .q-field__native {
  text-align: end !important;
}